.adopt-page-full {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.adopt-page-content,
.submit-msg,
.adopt-submit,
.data-section label,
.form-title,
.adopt-page-content {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.adopt-page {
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding-left {
  padding-left: 45px;
}

.adopt-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 35px;
  background-color: var(--card-white);
  box-shadow: 9px 8px 11px -1px #00000052;
  border-radius: 20px;
  max-width: 800px;
}

.form-title {
  text-align: center;
  margin: 0;
  color: var(--text-black);
}

.data-section {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 25px;
  width: 500px;
}

.data-section label {
  padding-bottom: 7px;
  color: var(--text-black);
}

.data-section input {
  padding-left: 10px;
  font-family: sans-serif;
  font-weight: 300;
}

.text-area {
  border-radius: 13px;
}

.submit-div {
  display: flex;
  justify-content: center;
  padding: 10px 50px 0px 0px;
}

.adopt-submit {
  width: 200px;
  border-radius: 20px;
  font-size: 25px;
  padding: 4px;
  background-color: var(--adopt-badge-green);
}

.submit-msg {
  padding: 0px 20px;
  font-size: 30px;
  margin: 0;
  text-align: center;
  width: 800px;
  color: var(--text-black);
}

@media (max-width: 710px) {
  .data-section {
    width: auto;
    font-size: 25px;
  }

  .data-section input {
    font-size: 20px;
  }
}
