.filters .checkboxes-div {
  display: flex;
  flex-direction: column;
  width: 230px;
  gap: 9px;
  padding: 25px;
  border: 2px solid var(--border-gray);
  border-radius: 20px;
  background-color: var(--card-white);
  padding-bottom: 20px;
}

.filters .checkboxes-div h4 {
  font-size: 30px;
  padding-bottom: 10px;
}

.filters .checkboxes-div h4,
.filters .checkboxes-div h6 {
  margin: 0;
}

.checkboxes-div .checkbox-div {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 10px;
}

.age-filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 10px;
}

.age-filters .min-age p,
.age-filters .max-age p {
  margin: 0;
}

.age-filters .min-age,
.age-filters .max-age {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.age-input {
  width: 58px;
  height: 25px;
  padding: 5px;
  border: 1px solid var(--filters-black);
  border-radius: 5px;
}

.filters {
  padding-top: 30px;
  padding-bottom: 50px;
}

.checkbox-div .checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  flex-shrink: 0;
  outline: 1px solid var(--filters-black);
}

.checkbox-div .checkbox:hover {
  cursor: pointer;
}
