.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-background {
  background-color: #d39b00;
}

.header-div img {
  width: 110px;
  height: auto;
  border-radius: 27px;
  border: 2px solid var(--filters-black);
  margin: 7px;
}

.header-div h1 {
  font-size: 34px;
  font-weight: 600;
  padding: 0px 20px;
}
