.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-background {
  background-color: rgb(211, 155, 0);
}

.header-div img {
  width: 98px;
  height: auto;
  border-radius: 27px;
  margin: 10px;
}

.header-div h1 {
  font-size: 34px;
  font-weight: 600;
  padding: 0px 20px;
}
