.pet-card-div {
  display: flex;
  flex-direction: column;
  width: 262px;
  height: 425px;
  gap: 15px;
  padding: 15px;
  background-color: var(--card-white);
  border-radius: 20px;
  border: 2px solid var(--border-gray);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.pet-card-div * {
  margin: 0;
}

.pet-card-div,
.petName,
.adopt-badge-card,
.pet-text-div {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.details-btn {
  padding: 0px 0px 0px 0px;
  font-size: 22px;
  font-weight: inherit;
  color: var(--gray-text);
  background: none;
  border: none;
  outline: inherit;
}

.details-btn:hover {
  color: #008bcc;
  transition: 0.2s;
}

.pet-card-div .petImage {
  width: 231px;
  min-height: 178px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid var(--border-gray);
}

.pet-text-div {
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 23px;
  color: var(--text-black);
}

.pet-text-div .adopt-badge-card {
  color: var(--text-black-unchanged);
  border-radius: 10px;
  border: 1px solid var(--filters-black);
  text-align: center;
  margin: 5px 0px;
}

.pet-text-div .petName {
  font-size: 37px;
  margin-bottom: 5px;
  vertical-align: top;
}
