.PetPage {
  padding-bottom: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.PetDetails,
.PetDetails p,
.desc-div,
.desc-div h3,
.description {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.home-btn-div .home-btn {
  font-size: 23px;
  color: var(--text-black);
  font-weight: 600;
  background-color: var(--header-bg);
  border: 1px solid var(--border-gray);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.home-btn-div .home-btn:hover {
  background-color: var(--hover-header-bg);
}

.home-btn-div {
  padding: 40px 0px 30px 0px;
}

.desc-div {
  background-color: var(--card-white);
  border-radius: 20px;
}

.desc-div h3 {
  margin: 0;
  padding-bottom: 15px;
  color: var(--text-black);
}

.desc-div {
  padding: 25px;
  margin-top: 40px;
  box-shadow: 9px 8px 11px -1px #00000052;
  flex-wrap: wrap;
}

.desc-div .description {
  text-align: start;
  margin: 0px;
  font-size: 30px;
  font-weight: 600;
  color: var(--text-black);
}

.PetDetails {
  display: flex;
  flex-direction: column;
  background-color: var(--card-white);
  padding: 20px 0px 20px 35px;
  border-radius: 20px;
  box-shadow: 9px 8px 11px -1px #00000052;
  width: 100%;
  position: relative;
  color: var(--text-black);
}

.PetDetails p {
  font-size: 35px;
  margin: 0px;
  font-weight: 600;
}

.bg-color-green {
  background-color: var(--adopt-badge-green);
}

.bg-color-yellow {
  background-color: var(--adopt-badge-yellow);
}

.img-text-div {
  display: flex;
  gap: 30px;
}

.img-div {
  background-color: var(--card-white);
  border-radius: 20px;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 8px 11px -1px #00000052;
}

.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
}

.PetDetails .adopt-btn {
  max-width: 300px;
  min-width: 200px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid var(--filters-black);
  font-weight: 700;
  font-size: 28px;
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
  padding: 17px;
  overflow: hidden;
}

.PetDetails .adopt-btn {
  bottom: 30px;
  right: 30px;
  background-color: var(--adopt-badge-green);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
  white-space: nowrap;
  position: absolute;
}

.adopt-btn:hover {
  bottom: 38px;
}

.adopt-btn:disabled {
  bottom: 30px;
  background-color: var(--adopt-badge-green-disabled);
}

@media (max-width: 1670px) {
  .PetPage {
    padding: 20px 40px 40px 40px;
  }
}

@media (max-width: 1210px) {
  .img-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-btn-div {
    padding-left: 40px;
  }

  .home-btn-div .home-btn {
    font-size: 30px;
  }
}

@media (max-width: 710px) {
  .PetDetails {
    height: 330px;
  }

  .PetDetails .adopt-btn {
    position: relative;
    top: 30px;
    margin: 0px 25px;
    font-size: 30px;
    padding: 30px;
    border-radius: 30px;
  }

  .PetDetails p,
  .desc-div,
  .desc-div h3,
  .description {
    font-size: 30px;
  }
}

@media (max-width: 580px) {
  .desc-div .description {
    font-size: 25px;
  }
}

@media (max-width: 465px) {
  .PetDetails .adopt-btn {
    top: 25px;
    padding: 10px;
    font-size: 25px;
  }
  .PetDetails {
    height: 280px;
  }
  .desc-div .description {
    font-size: 23px;
  }
  .PetDetails p {
    font-size: 25px;
  }
}
