.main-content {
  background-color: #00a3c0;
}

.app-card-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main-content .pet-cards {
  display: flex;
  gap: 10px;
}
